mixin about()
  section.about
    .container
      h2 О КОМПАНИИ
      h3 EUROMIX CROCUS -
        span <br>РОССИЙСКИЕ БЕТОННЫЕ ЗАВОДЫ
      .about-wrapper
        p «Завод EUROMIX» - производитель бетонных заводов euromix crocus - это предприятие, которое за годы партнерства плотного сотрудничества с западными коллегами выработало уникальную стратегию, максимально приблизившись к оптимуму «цена-качество», имеющее большой опыт в производстве строительного и технологического оборудования. ...
        .about-advantages
          p Европейский <br>Инжиниринг
          p Качественные <br>Комплектующие
          p Выгодная <br>Цена
        a.btn.btn--safety-orange.btn--details(href="#") ПОДРОБНЕЕ
        +picture("content/completed-projects", "youtube", "jpg", 575, 324, "Youtube")
