mixin completedProjects()
  section.completed-projects
    .container
      h2 ВЫПОЛНЕННЫЕ ПРОЕКТЫ
      P «Завод EUROMIX» производитель бетонных заводов euromix crocus - это предприятие, имеющее большой опыт в производстве строительного и технологического оборудования. наш завод производит и поставляет супермобильные, мобильные, стационарные бетонные заводы euromix crocus, бетоносмесители серии euromix, растворо- бетонные узлы (рбу) бетоносмесительные установки (бсу), а также отдельные комплектующие бетонных заводов, системы рециклинга бетона, тепловые центры для бетонных заводов зимнего исполнения. предприятие осуществляет продажу бетонных заводов euromix crocus с доставкой по россии, снг и странам дальнего зарубежья
      +cards("completed-projects")

      a.btn.btn--safety-orange.btn--details(href="#") ВСЕ ПРОЕКТЫ

