mixin partners()
  .partners
    .container
      h2 НАШИ ПАРТНЕРЫ
      p мы работаем с лучшими партнерами В ассортименте нашего завода шесть типов бетонных заводов, начиная от супермобильных бетонных заводов EUROMIX CROCUS серии 750, бетонных заводов серии 30/800.4 COMPACT в
