.about {
  padding: 77px 0 61px;
}

.about h2 {
  margin: 0 0 29px 18px;
  font-size: 24px;
  font-weight: 700;
  color: $color-blue-charcoal;
}

.about h3 {
  max-width: 575px;
  margin: 0 0 0 18px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  color: $color-safety-orange;
}

.about h3 span {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  color: $color-blue-charcoal;
}

.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 38px;
  margin: 50px 0 0 18px;
}

.about-wrapper>p {
  max-width: 537px;
  max-height: 156px;
  margin: 4px 0 38px;
  color: $color-Ñharcoal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.about-advantages {
  display: flex;
}

.about-advantages>p {
  position: relative;
  margin: 0 43px 0 0;
  padding-top: 14px;
  padding-left: 61px;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: $color-default-black;

  &:nth-of-type(2) {
    margin-right: 19px;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
  }

  &:nth-of-type(1)::before {
    top: 0;
    left: 6px;
    width: 48px;
    height: 49px;
    background: url("../img/svg/about/engineer.svg") no-repeat center;
  }

  &:nth-of-type(2)::before {
    top: -5px;
    left: -10px;
    width: 67px;
    height: 67px;
    background: url("../img/svg/about/accessories.svg") no-repeat center;
  }

  &:nth-of-type(3)::before {
    top: 4px;
    left: 8px;
    width: 41px;
    height: 41px;
    background: url("../img/svg/about/wallet.svg") no-repeat center;
  }
}

.about-wrapper picture {
  grid-column: 2/3;
  grid-row: 1/4;
  margin-right: -3px;
}

.about-wrapper picture img {
  background-color: $color-gainsboro;
  filter: drop-shadow(0px 20px 20px $color-black-opacity25);
  object-fit: cover;
  object-position: center;
}

.about-wrapper .btn{
  height: 48px;
  margin: 61px 0 0 13px;
  padding: 16px 24px 15px 25px;
}
