.ask-a-question {
  min-height: 483px;
  padding: 38px 0 35px;
  background-image: image-set(url("../img/bg/ask-a-question/bg-ask-a-question@2x.avif") type("image/avif") 2x,
      url("../img/bg/ask-a-question/bg-ask-a-question@1x.avif") type("image/avif") 1x,
      url("../img/bg/ask-a-question/bg-ask-a-question@2x.webp") type("image/webp") 2x,
      url("../img/bg/ask-a-question/bg-ask-a-question@1x.webp") type("image/webp") 1x,
      url("../img/bg/ask-a-question/bg-ask-a-question@2x.png") 2x,
      url("../img/bg/ask-a-question/bg-ask-a-question@1x.png") 1x);
  background-color: $color-blue-charcoal;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.ask-a-question .container {
  display: grid;
  grid-template-columns: 52.4% 42.6%;
  column-gap: 5%;
  padding-right: 314px;
}

.ask-a-question__phone {
  grid-column: -1/1;
  justify-self: center;
  display: flex;
  align-items: center;
  padding-left: 7px;
}

.ask-a-question__phone-number {
  margin-right: 28px;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  color: $color-default-white;
  transition: color $trans-default,
    opacity $trans-default;

  @include hover {
    color: $color-safety-orange;
  }

  @include active {
    opacity: 0.7;
  }
}

.ask-a-question__tel {
  margin-right: 15px;

  @include hover {
    svg {
      fill: $color-safety-orange;
    }
  }

  @include active {
    svg {
      opacity: 0.7;
    }
  }
}

.ask-a-question__tel svg {
  fill: $color-default-white;
  transition: fill $trans-default,
    opacity $trans-default;
}

.ask-a-question__telegram svg {
  fill: $color-default-white;
  transition: fill $trans-default,
    opacity $trans-default;
}

.ask-a-question__telegram {
  @include hover {
    svg {
      fill: $color-safety-orange;
    }
  }

  @include active {
    svg {
      opacity: 0.7;
    }
  }
}

.ask-a-question__title-container {
  position: relative;
  grid-column: -1/1;
  justify-self: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -5px;
    width: 46px;
    height: 100%;
    border: 3px solid $color-default-white;
  }

  &::before {
    left: -33px;
    border-right: transparent;
  }

  &::after {
    right: -40px;
    border-left: transparent;
  }
}

.ask-a-question h2 {
  margin: 28px 0 29px 0;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  color: $color-safety-orange;
}

.ask-a-question h2 span {
  display: block;
  margin: 9px 0 0 0;
  padding-right: 35px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  text-align: center;
  color: $color-default-white;
}

.ask-a-question__list {
  grid-column: 1/2;
  grid-row: 3/6;
  margin: 43px 0 0 35px;
  padding: 0;
  list-style: none;
}

.ask-a-question__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 37px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: $color-default-white;

  &:nth-child(4n+2) {
    margin-bottom: 25px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 18px;
    height: 19px;
    background: url("../img/stack.svg#icon-circle-heck") no-repeat center;
  }
}

.ask-a-question h3 {
  grid-column: 2/3;
  margin: 40px 0 13px 3px;
  font-size: 24px;
  font-weight: 700;
  color: $color-safety-orange;
}

.ask-a-question h3+p {
  grid-column: 2/3;
  margin: 0 0 16px 3px;
  font-size: 24px;
  font-weight: 500;
  color: $color-default-white;
}

.ask-a-question h3+p span {
  display: block;
  margin-top: -4px;
  font-size: 16px;
}

.ask-a-question button {
  grid-column: 2/3;
  width: 223px;
  height: 56px;
  font-size: 16px;
}
