.card-list {
  display: grid;
  column-gap: 29px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  padding-bottom: 31px;
  background-color: $color-default-white;
  border-radius: 5px;
  transition: box-shadow $trans-default;

  &--price {
    padding-bottom: 0;
  }

  @include hover-focus {
    box-shadow: 0px 4px 20px 0px $color-black-opacity25;
  }

  @include active {
    svg>path {
      fill: $color-blue-charcoal;
    }
  }

  &--price {
    @include hover-focus {
      box-shadow: 0px 4px 20px 0px $color-zircon;
    }

    @include active {
      svg>path {
        fill: $color-safety-orange;
      }
    }
  }

  &--projects,
  &--completed-projects {
    @include active {
      svg>path {
        fill: $color-safety-orange;
      }
    }

    a {
      @include active {
        svg>path {
          fill: $color-blue-charcoal;
        }
      }
    }
  }
}

.card {
  img {
    width: 577px;
    height: 342px;
    border-radius: 5px;
    object-fit: contain;
  }

  &--price img {
    width: 274px;
    height: 259px;
    object-fit: cover;
    object-position: center;
  }

  &--projects img {
    width: 273px;
    height: 150px;
    object-fit: cover;
    object-position: center;
  }

  &--completed-projects img {
    width: 576px;
    height: 204px;
    object-fit: cover;
    object-position: center;
  }
}

.card--completed-projects .img-container,
.card--projects .img-container {
  position: relative;
}

.card--price .card__in-stock {
  display: block;
  margin: 16px 19px 0;
  font-size: 15px;
  font-weight: 500;
  color: $color-safety-orange;
}

.card-flex-wrapper {
  display: flex;
  align-items: center;
}

.card-date {
  min-width: 74px;
  margin: 0 14px 0 10px;
  padding: 9px 9px 7px 14px;
  color: $color-default-white;
  background-color: $color-dark-orange;
  border-radius: 5px;
  transform: skewX(22deg);

  &>span {
    display: block;
    transform: skewX(-22deg);
  }

  & span:first-of-type {
    font-size: 20px;
    line-height: 15px;
  }

  & span {
    font-weight: 500;
    font-size: 14px;
  }

  & span:last-of-type {
    font-size: 15px;
  }
}

.card {
  h3 {
    min-height: 57px;
    margin: 13px 8.666% 13px 9.36%;
    font-family: $ff-inter;
    font-size: 24px;
    font-weight: 400;
    color: $color-default-black;
  }

  &--price h3 {
    margin: 5px 19px 20px;
    font-family: $ff-ubuntu;
    font-size: 20px;
  }

  &--projects h3 {
    margin: 15px 0 0 0;
    font-family: $ff-ubuntu;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  &--completed-projects h3 {
    margin: 14px 0 0 0;
    font-family: $ff-ubuntu;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: $color-default-white;
  }
}

.card {
  & p {
    max-height: 62px;
    margin: 0 26.864% 0 9.36%;
    color: $color-сharcoal;
    font-size: 14px;
    line-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &--price p {
    min-height: auto;
    margin: 0 19px 26px;
    font-size: 25px;
    font-weight: 700;
  }

  &--price p span {
    font-size: 15px;
  }
}

.card--price button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 51px;
  padding: 0 52px 0 31px;
  font-size: 16px;
  font-weight: 500;
  color: $color-safety-orange;
  border-radius: 5px;
  border: none;
  background-color: $color-azure;
  transition: background-color $trans-default;
  cursor: pointer;

  @include hover-focus {
    background-color: $color-gainsboro;
  }

  @include active {
    svg>path {
      fill: $color-blue-charcoal;
    }
  }
}

.card--price button img {
  width: 27px;
  height: 27px;
  margin-right: 11px;
}

.card {
  & svg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 93px;
    height: 93px;

    path {
      transition: fill $trans-default;
    }

    g {
      fill: $color-default-white;
      transition: fill $trans-default;
    }
  }

  &--price svg {
    width: 57px;
    height: 57px;
  }

  &--completed-projects svg,
  &--projects svg {
    width: 57px;
    height: 57px;
  }
}
