.footer {
  min-height: 576px;
  padding: 29px 0 22px;

  background-image: image-set(url("../img/bg/footer/bg-footer@2x.avif") type("image/avif") 2x,
      url("../img/bg/footer/bg-footer@1x.avif") type("image/avif") 1x,
      url("../img/bg/footer/bg-footer@2x.webp") type("image/webp") 2x,
      url("../img/bg/footer/bg-footer@1x.webp") type("image/webp") 1x,
      url("../img/bg/footer/bg-footer@2x.png") 2x,
      url("../img/bg/footer/bg-footer@1x.png") 1x);
  background-repeat: no-repeat;
  background-color: $color-blue-charcoal;
  background-position: center bottom;
}

.footer-top {
  border-bottom: 1px solid $color-blue-bayoux5;
}

.footer-top .container {
  display: flex;
  margin-bottom: 24px;
}

.footer-top p {
  align-self: center;
  display: block;
  width: 450px;
  margin: 0 22px 0 15px;
  font-size: 20px;
  font-weight: 500;
  color: $color-default-white;
}

.footer-top form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: 3.757%;
  padding: 8px 9px 7px 21px;
  border-radius: 100px;
  border: 2px solid $color-safety-orange;
  background: $color-color-zircon1;
}

.footer-top form label {
  align-self: center;
  width: 100%;
  height: max-content;
  margin-right: 20px;
}

.footer-top form input {
  width: 100%;
  padding: 15px 15px 16px 15px;
  font-size: 16px;
  font-weight: 400;
  color: $color-default-white;
  background-color: transparent;
  border: none;
}

.footer-top form button {
  padding: 16px 21px 18px;
}

.footer-top__tel {
  display: flex;
  align-self: center;
  min-width: 29.466%;
  font-size: 24px;
  font-weight: 500;
  color: $color-default-white;
  transition: color $trans-default;

  span {
    transition: color $trans-default,
      opacity $trans-default;
  }

  @include hover {
    color: $color-safety-orange;
  }

  @include active {
    span {
      opacity: 0.5;
    }
  }
}

.footer-top__tel img {
  margin-right: 18px;
  width: 40px;
  height: 40px;
}

.footer-top__tel span {
  align-self: center;
}

.footer__wrapper {
  display: flex;
  margin-left: 15px;
  gap: 4.761%;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  min-width: max-content;
}

.footer__site-map,
.footer__catalog {
  min-width: max-content;
}

.footer h3 {
  margin: 42px 0 45px 0;
  color: $color-safety-orange;
  font-size: 16px;
  font-weight: 500;
}

.footer__site-map h3 {
  margin-bottom: 28px;
}

.footer__catalog h3 {
  margin-bottom: 30px;
}

.footer__mail,
.footer__tel {
  display: flex;
  font-weight: 500;
  color: $color-default-white;

  span {
    transition: color $trans-default,
      opacity $trans-default;
  }

  @include hover {
    color: $color-dark-orange;
  }

  @include active {
    span {
      opacity: 0.5;
    }
  }
}

.footer__mail {
  margin-bottom: 20px;
}

.footer__mail img,
.footer__tel img {
  margin-right: 18px;
}

.footer__mail img {
  margin-top: -4px;
}

.footer__tel img {
  margin-top: -1px;
  margin-left: -3px;
}

.footer__logo {
  margin-left: -15px;
  margin-top: 7px;

  @include hover {
    border-radius: 10px;
    outline: 1px solid $color-default-white;
    outline-offset: 2px;
    box-shadow: 0px 0px 0px 2px $color-navy-blue;
  }

  @include focus {
    border-radius: 10px;
    outline: 1px solid $color-default-white;
    outline-offset: 2px;
    box-shadow: 0px 0px 0px 2px $color-navy-blue;
  }
}

.footer__social-networks p {
  margin: 15px 0 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
  color: $color-default-white;
}

.footer__social-networks-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__social-networks-wrapper a {
  svg {
    fill: $color-safety-orange;
    transition: fill $trans-default,
      opacity $trans-default;
  }

  @include hover {
    svg {
      fill: $color-default-white;
    }
  }

  @include active {
    svg {
      opacity: 0.5;
    }
  }
}

.footer__site-map-list,
.footer__catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__site-map-item,
.footer__catalog-item {
  padding: 10px 0 11px 17px;
}

.footer__site-map-link,
.footer__catalog-link {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: $color-default-white;
  transition: text-decoration $trans-default,
    color $trans-default;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -15px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 6px solid $color-safety-orange;
    border-bottom: 4px solid transparent;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    width: 0;
    height: 1px;
    background-color: $color-default-white;
    transition: width $trans-default;
  }

  @include hover {
    &::after {
      width: 100%;
      transition: width $trans-default;
    }
  }

  @include active {
    color: $color-suva-grey;

    &::after {
      background-color: $color-suva-grey;
    }
  }
}

.footer__catalog {
  margin-left: 5.025%;
}

.footer__map {
  position: relative;
  margin: 16px -1px 0 4px;
}

.footer__map img {
  border-radius: 5px;
}

.footer__map-address {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 276px;
  height: 225px;
  margin-top: 14px;
  padding: 12px 21px 13px 19px;
  font-weight: 500;
  background-color: $color-default-white;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 20px 0 $color-black-opacity25;
}

.footer__map-address h4 {
  margin: 0 0 12px -3px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $color-safety-orange;
}

.footer__map-address address {
  margin-bottom: 9px;
  font-size: 15px;
  font-style: normal;
  line-height: 15px;
}

.footer__map-address .footer__map-tel {
  display: block;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 25px;
  white-space: nowrap;
  transition: color $trans-default,
    opacity $trans-default;

  @include hover {
    color: $color-dark-orange;
  }

  @include active {
    opacity: 0.5;
  }
}

.footer__map-address .footer__map-mail {
  display: block;
  margin: 0 0 6px 0;
  padding-bottom: 6px;
  font-size: 15px;
  line-height: 25px;
  border-bottom: 1px solid $color-zircon;

  transition: color $trans-default,
    opacity $trans-default;

  @include hover {
    color: $color-dark-orange;
  }

  @include active {
    opacity: 0.5;
  }
}

.footer__map-address p {
  margin: 0 0 6px 0;
  font-size: 14px;
  line-height: 20px;
}

.footer__map-address .footer__social-networks-wrapper {
  padding-left: 6px;
  gap: 13px;
}

.footer__map-address .footer__social-networks-vk svg {
  fill: $color-danube;
}

.footer__map-address .footer__social-networks-watsapp svg {
  fill: $color-dark-pastel-green;
}

.footer__map-address .footer__social-networks-youtube svg {
  fill: $color-free-speech-red;
}

.footer__map-address .footer__social-networks-telegram svg {
  fill: $color-dark-turquoise;
}

.footer__map-address .footer__social-networks-wrapper a {
  @include hover {
    svg {
      fill: $color-safety-orange;
    }
  }

  @include active {
    svg {
      opacity: 0.7;
    }
  }
}

.footer__map-address-close-btn {
  position: absolute;
  top: 2px;
  right: 6px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: background-color $trans-default;
  cursor: pointer;

  @include hover-focus {
    &::before {
      background-color: $color-neon-blue;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: $color-blue-charcoal;
    transition: background-color $trans-default;

    mask: url("../img/stack.svg#icon-close--blue-charcoal");
  }
}

.footer-bottom {
  margin-top: 19px;
  padding-top: 21px;
  border-top: 1px solid rgb(116, 119, 120, 0.5);
}

.footer-bottom a {
  display: inline-block;
  margin-right: 23px;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: $color-default-white;
  transition: color $trans-default,
    opacity $trans-default;

  &:first-of-type {
    padding-left: 16px;
  }

  &:last-of-type {
    margin-right: 0;
    margin-left: 9px;
  }

  @include hover {
    color: $color-dark-orange;
  }

  @include active {
    opacity: 0.5;
  }
}

.footer-bottom p {
  margin: 8px 0 0 0;
  padding-left: 16px;
  font-size: 13px;
  font-weight: 400;
  color: $color-default-white;
}
